body {
  background: no-repeat;
  background-size: 100%;
  background-color: #f7f7f7;
}


.nav a {
  color: #000000;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  margin-top: 15px;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('../drawable/home_image.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
}

.jumbotron .container {
  position: relative;
  top:100px;
  width: 450px;
  height: 200px;
  right: 500px;
}

.fb img{
  width: 70px;
  height: 70px;
  margin-left: 20px;
}

.in img{
  width: 70px;
  height: 70px;
  margin-left: 20px;
}

.insta img{
  width: 61px;
  height: 62px;
  margin-left: 25px;
}


.jumbotron .world{
   position: relative;
   left: 110px;
}

.jumbotron .change{
   position: relative;
   left: 190px;
}


.jumbotron h1 {
  color: #ffffff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #00bfff;
}

.learn-more a {
  color: #00b0ff;
}
.profile_image img{
	border-radius: 50%;
	width: 180px;
	height: 180px;
	display: block;
}